
 body {
       text-align: center;
       background-color: gray;
       font-family: 'Times New Roman', Times, serif;
 }
 
 table {
      height: 200px;
      width: 800px;
      background-color:gray;
      color: red;

      display: inline-table;
}     

td {
      padding: 10px;
      border: 3px solid black;
      background-color: white;
      text-align: left;
}

th {
      padding: 10px;
      border: 3px solid black;
      background-color: red;
      color: white;
      font-size: large;
      font-style: italic;
}

h1 {
      color: white;
}

h2 {
      margin-top: 80px;
      font-family: 'Arial Narrow Bold', sans-serif;
      
}

p {
      display: inline;
}

.code {
      background-color: black;
      font-family: monospace;
      padding: 3px;
}

